.main-container {
    margin-left: 240px;
    height: calc(100vh - var(--music-control-height));
    overflow-y: auto;
    flex:1;
    
    background-color: #170f23;
}
.body-wrapper{
padding: 70px 60px;
color:#fff;
}
.no-content.container {
    width: 100%;
    color: var(--text-secondary);
}
.mar-0 {
    margin: 0!important;
}
.no-content.container .no-content-box {
    width: 100%;
    padding: 30px 0;
    min-height: 220px;
    background-color: var(--alpha-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-content.container .no-content-box .main-icon {
    font-size: 80px;
    margin-bottom: 20px;
}
.icon.ic-svg-music-icon {
    width: 90px;
    height: 90px;
    background-image: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.64/static/media/music-icon.cfa4aa91.svg);
}
.no-content.container .no-content-box .no-content-text {
    font-size: 16px;
    line-height: normal;
}
@keyframes rotate-full {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
  }
  
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
  }
  
  @keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
.animated {
    animation-name: spin;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
    -webkit-animation-iteration-count: infinite;
   
    animation-timing-function: linear;
  }
  .zm-actions-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  .zm-actions.artist-actions .icon.action-play, .zm-actions.playlist-actions .icon.action-play, .zm-actions.video-actions .icon.action-play {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
}
.icon.ic-gif-playing-white {
    background-image: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif);
}
.icon.ic-gif-playing, .icon.ic-gif-playing-auto, .icon.ic-gif-playing-white {
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.header-thumbnail .ic-gif-playing-white {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid var(--white);
    background-position: 50%;
}
.zm-actions .icon {
    color: var(--white);
}
.icon {
    line-height: 66%;
    display: inline-block;
}
.animated.infinite {
      animation-iteration-count: infinite;
    }
  
  
  .box1 {
     
     overflow: hidden;
     width: 200px;
    height: 200px;
     transform: rotate(0deg);
  }
  .boder-50{
    border-radius: 50%;
  }
  .icon.ic-svg-play-circle {
    background-image: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.64/static/media/play.81e7696e.svg);
}
.box1 img {
    width: 100%;
    background-size: contain;
    height: 100%;
     }
     .zm-card-image {
        display: flex;
        position: relative;
        
        border-radius: 4px;
        flex-shrink: 0;
    }
    .header-thumbnail .opacity, .header-thumbnail .zm-actions {
        visibility: hidden!important;
    }
    .playlist-actions {
        width: 100%;
        justify-content: space-evenly;
    }
    .zm-actions-container:hover .zm-actions{
visibility: visible;
    }
    .zm-actions {
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        cursor: pointer;
        z-index: 98;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
       
        visibility: hidden;
        width: 80%;
    }
  .rotate {
    animation: rotation-full 5s infinite linear;
  }
  .zm-actions .zm-btn {
    display: flex;
}
  .rotate-full {
    animation: infinite-spinning 8s infinite linear;
  }
.main {
   display:flex;
   min-width: 768px;
}

.zing-chart-heading{
    font-size: 40px;
    color:#fff
}
.scale-image{
transition: transform 0.7s ease 0s;
}
.zm-card-image{
    overflow: hidden;
    cursor: pointer;
}
.zm-card-image:hover .scale-image{
transform: scale(1.1);
}
.zing-chart-play-icon{
    height: 40px;
    width: 40px;
    margin-left: 8px;
    color: #fff;
    
}
.zing-chart-play-icon svg {
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    
}
.tool-tip{
padding:4px 8px
}
.tool-tip-image{
height: 36px;
width: 36px;
border-radius: 6px;
margin-right: 8px;
background-size: cover;
}
.tool-tip-info{
width: 100px;
}
.tool-tip-info-name{
color:#fff;
line-height: 20px;
font-size: 12px;
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
word-break: break-all;
font-weight: 500;
}
.tool-tip-info-artist{
color:rgba(255, 255, 255, 0.6);
font-size: 10px;
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
word-break: break-all;

}
.tool-tip-data{
    color:#fff;
    font-weight: 500;
}
.playlist-item .playlist-position {
    font-weight: 900;
    font-family: Roboto,sans-serif;
    font-size: 32px;
    -webkit-text-stroke: 1.5px #fff;
    color: #4a90ff00;
    white-space: nowrap;
    min-width: 56px;
    text-align: center;
}
.playlist-item{
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    user-select: none;
    color:#fff;
    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255,.0509)
}

.rt-chart-home .section-header {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: normal;
    font-weight: 700;
    letter-spacing: normal;
    color: var(--white);
    margin-bottom: 20px;
    text-transform: none;
}
.rt-chart-home .section-header a{
color:#fff}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.rt-chart-home .bg-alpha {
    z-index: 0;
    background-image: var(--linear-gradient-bg);
    opacity: .95;
}
.rt-chart-home .bg-blur {
    background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.63/static/media/bg-chart.fd766403.jpg) top/cover no-repeat;
}
.rt-chart-home .bg-alpha, .rt-chart-home .bg-alpha-1, .rt-chart-home .bg-blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.rt-chart-home {
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 48px;
}
.playlist-item.active{
background-color:#3a3344 ;
}
.discover-zingchart .playlist-item.active{
    background-color:#823b95 ;
}
.card-info {
    overflow: hidden;
}
.card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-discover {
    
    position: relative;
    margin: -15px;
}
.item-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.36;
}
.item-artists{
    color:#ffffff80;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 20px;
}
.description{
    font-size:12px;
    color: var(--text-primary);
}
.subtitle {
    margin-top: 1px;
    font-size:12px;
    color: var(--text-secondary);
}
.table-body .playlist-item{
    padding: 6px 0px;
    
}
.option-all__margin_top{
    margin-top: 40px;
}
.table-body .playlist-item >div{
    flex:1
}
.table-body .playlist-item .item-info{
    flex:2;
    max-width: 50%;
}
.table-body .playlist-item .item-info .item-left{
    padding-left: 10px;
    width: 100%;
}
.media_cover{
    background-size: cover;
    width: 100%;
    padding-top: 100%;
}
.playlist-item .playlist-position.top-2 {
    -webkit-text-stroke: 1px #50e3c2;
}
.zm-carousel__container {
    display: flex;
    z-index: 3;
    width: 100%;
}
@media screen and (min-width: 1200px){
.video-queue {
    background-color: hsla(0,0%,100%,.10196078431372549);
    overflow: hidden;
    height: calc(53.4375vw - 196.875px);
    width: auto;
    margin-top: 0;
}
}
@media screen and (max-width: 1200px){
.video-body .queue-player, .video-body .video-player {
    width: 100% !important;
}
}
.playlist-item .playlist-position.top-3 {
    -webkit-text-stroke: 1px #e35050;
}
.playlist-item .playlist-line {
    margin-right: 16px;
    color:#fff
}
.playlist-item .playlist-position.top-1 {
    -webkit-text-stroke: 1px rgb(74,144,226);
}
.genre-select .zm-btn.active {
    border-color: var(--purple-primary);
    background-color: var(--purple-primary);
    color: var(--white);
}
.zm-section-title.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel{
    width: 100%;
}
.zm-btn {
    font-size: 14px;
    border-radius: 999px;
    line-height: normal;
    border: 0;
    color:#fff;
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.zm-new-release-section .genre-select {
    margin-bottom: 16px;
}
.zm-new-release-section .genre-select .zm-btn {
    padding: 4px 24px;
    border: 1px solid var(--border-primary);
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
}

.songs-animate-container {
    position: relative;
    width: 270px;
    height: 240px;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
}
.zm-navbar-wrap .zm-narbar-container {
    display: flex;
    align-items: center;
    min-height: 32px;
}
.zm-navbar-wrap.is-oval {
    border-bottom: none;
    padding-left: 0;
}
.zm-navbar-wrap {
    border-bottom: 1px solid var(--border-primary);
    margin: 0 calc(var(--padding-section)*-1);
    padding-left: var(--padding-section);
    margin-bottom: 28px!important;
}
.zm-navbar-wrap.is-oval .zm-navbar-menu {
    font-weight: 400;
    margin: 0 auto;
    background-color: var(--alpha-bg);
    padding: 3px;
    border-radius: 15px;
}
.zm-navbar-wrap .zm-navbar-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
}
.zm-navbar-wrap.is-oval .zm-navbar-menu .zm-navbar-item.is-active {
    color: var(--text-item-hover);
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
    background-color: var(--tab-active-bg);
}
.zm-navbar-wrap.is-oval .zm-navbar-menu .zm-navbar-item {
    padding: 0;
    font-size: 12px;
    line-height: 1;
    min-width: 120px;
    margin: 0;
    color: var(--navigation-text);
}
.zm-navbar-wrap.is-oval .zm-navbar-menu .zm-navbar-item a {
    display: block;
    padding: 7px 25px;
}
.zm-navbar-menu{
display: flex;
align-items: center;
}

.feed-card {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px 0 var(--main-box-shadow);
    background-color: var(--box-item-bg);
}
.zm-card {
    max-width: 100%;
    position: relative;
}
.feed-image{
width:100%;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: 50%;
}
.media{
display:flex;
align-items: center;
}
.media-left{
    margin-right:8px
}
.media-content{
    display:flex;
    flex-direction: column;
}
.feed-content{
margin-bottom: 12px;
cursor:pointer
}


.btn-like{
    color:#fff;
    display:flex;
    align-items: center;
}
.icon-like{
    margin-right: 4px;
}
.icon-next{
    color:#fff;
    font-size:12px;
    display:flex;
    align-items: center;
}
.right-content{
    z-index: 1000;
    border-radius: 8px;
    padding:8px;
    background-color: #513778;
}
.zm-new-release-section .columns {
    min-height: 190px;
}
.zm-new-release-section .columns {
    height: 321px;
}

.columns {
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -15px;
}
.is-fullhd-4 {
    width: 33.33333%;
}
@media screen and (max-width: 1024px){
    .columns {
        margin: 0 -12px;
    }
    }
    @media screen and (max-width: 1024px){
    .is-tablet-6 {
        width: 50%;
    }
}
@media screen and (max-width: 1133px){
.is-desktop-1, .is-desktop-1\.0, .is-desktop-1\.1, .is-desktop-1\.4, .is-desktop-2, .is-desktop-3, .is-desktop-4, .is-desktop-5, .is-desktop-6, .is-desktop-7, .is-desktop-8, .is-desktop-9, .is-desktop-10, .is-desktop-11, .is-desktop-12, .is-desktop-12-5, .is-desktop-20, .is-desktop-40, .is-desktop-60, .is-desktop-80, .is-fullhd-1, .is-fullhd-1\.0, .is-fullhd-1\.1, .is-fullhd-1\.4, .is-fullhd-2, .is-fullhd-3, .is-fullhd-4, .is-fullhd-5, .is-fullhd-6, .is-fullhd-7, .is-fullhd-8, .is-fullhd-9, .is-fullhd-10, .is-fullhd-11, .is-fullhd-12, .is-fullhd-12-5, .is-fullhd-20, .is-fullhd-40, .is-fullhd-60, .is-fullhd-80, .is-tablet-1, .is-tablet-1\.0, .is-tablet-1\.1, .is-tablet-1\.4, .is-tablet-2, .is-tablet-3, .is-tablet-4, .is-tablet-5, .is-tablet-6, .is-tablet-7, .is-tablet-8, .is-tablet-9, .is-tablet-10, .is-tablet-11, .is-tablet-12, .is-tablet-12-5, .is-tablet-20, .is-tablet-40, .is-tablet-60, .is-tablet-80, .is-touch-1, .is-touch-1\.0, .is-touch-1\.1, .is-touch-1\.4, .is-touch-2, .is-touch-3, .is-touch-4, .is-touch-5, .is-touch-6, .is-touch-7, .is-touch-8, .is-touch-9, .is-touch-10, .is-touch-11, .is-touch-12, .is-touch-12-5, .is-touch-20, .is-touch-40, .is-touch-60, .is-touch-80, .is-widescreen-1, .is-widescreen-1\.0, .is-widescreen-1\.1, .is-widescreen-1\.4, .is-widescreen-2, .is-widescreen-3, .is-widescreen-4, .is-widescreen-5, .is-widescreen-6, .is-widescreen-7, .is-widescreen-8, .is-widescreen-9, .is-widescreen-10, .is-widescreen-11, .is-widescreen-12, .is-widescreen-12-5, .is-widescreen-20, .is-widescreen-40, .is-widescreen-60, .is-widescreen-80 {
    padding-left: 12px;
    padding-right: 12px;
}
}
@media screen and (max-width: 1024px){
.is-widescreen-4:last-child {
    display: none;
}
}
.is-desktop-1, .is-desktop-1\.0, .is-desktop-1\.1, .is-desktop-1\.4, .is-desktop-2, .is-desktop-3, .is-desktop-4, .is-desktop-5, .is-desktop-6, .is-desktop-7, .is-desktop-8, .is-desktop-9, .is-desktop-10, .is-desktop-11, .is-desktop-12, .is-desktop-12-5, .is-desktop-20, .is-desktop-40, .is-desktop-60, .is-desktop-80, .is-fullhd-1, .is-fullhd-1\.0, .is-fullhd-1\.1, .is-fullhd-1\.4, .is-fullhd-2, .is-fullhd-3, .is-fullhd-4, .is-fullhd-5, .is-fullhd-6, .is-fullhd-7, .is-fullhd-8, .is-fullhd-9, .is-fullhd-10, .is-fullhd-11, .is-fullhd-12, .is-fullhd-12-5, .is-fullhd-20, .is-fullhd-40, .is-fullhd-60, .is-fullhd-80, .is-tablet-1, .is-tablet-1\.0, .is-tablet-1\.1, .is-tablet-1\.4, .is-tablet-2, .is-tablet-3, .is-tablet-4, .is-tablet-5, .is-tablet-6, .is-tablet-7, .is-tablet-8, .is-tablet-9, .is-tablet-10, .is-tablet-11, .is-tablet-12, .is-tablet-12-5, .is-tablet-20, .is-tablet-40, .is-tablet-60, .is-tablet-80, .is-touch-1, .is-touch-1\.0, .is-touch-1\.1, .is-touch-1\.4, .is-touch-2, .is-touch-3, .is-touch-4, .is-touch-5, .is-touch-6, .is-touch-7, .is-touch-8, .is-touch-9, .is-touch-10, .is-touch-11, .is-touch-12, .is-touch-12-5, .is-touch-20, .is-touch-40, .is-touch-60, .is-touch-80, .is-widescreen-1, .is-widescreen-1\.0, .is-widescreen-1\.1, .is-widescreen-1\.4, .is-widescreen-2, .is-widescreen-3, .is-widescreen-4, .is-widescreen-5, .is-widescreen-6, .is-widescreen-7, .is-widescreen-8, .is-widescreen-9, .is-widescreen-10, .is-widescreen-11, .is-widescreen-12, .is-widescreen-12-5, .is-widescreen-20, .is-widescreen-40, .is-widescreen-60, .is-widescreen-80 {
    position: relative;
    min-height: 1px;
    padding-left: 14px;
    padding-right: 14px;
    float: left; 
    flex-shrink: 0; 
}
.mar-b-0 {
    margin-bottom: 0!important;
}
@media screen and (max-width: 1024px){
.column {
    padding: 0 -15px;
}
}

.comment-btn{
    color:#fff;
    display:flex;
    align-items: center;
}
.feed-footer-icon{
    font-size:18px;
    margin-right: 5px;
}
.new-feed-group{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-top: -16px;
    width: calc(100% + 16px);
    margin-left: -16px;
}
.zma-section {
    margin-top: 48px;
    margin-bottom: 48px;
}
.playlist-header {
    padding: 0 0 30px;
    flex-basis: 33.33%;
    
}

.feed-wrapper{
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
}
.genre-name{
    font-size:20px;
    margin-bottom: 8px;
    font-weight: 600;
}
.close-btn{
    position:absolute;
    top: 20px;
    right: 20px;
    width:40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    font-size:24px;
    color:#fff
}
.home-popup__close-button{
    width:20px;
    height: 20px;
}
.close-btn:hover{
    background-color: rgba(255, 255, 255, 0.4);   
}
.icon-button.action{
    background-color: rgba(255, 255, 255, 0.2);
}
.fs-lyric .scroll-content .item {
    color: var(--white);
    font-weight: 700;
    font-size: inherit;
    line-height: inherit;
    line-height: 1.2;
    padding: 15px 0;
}
.fs-lyric .is-size-M .scroll-content .item {
    padding: 20px 0;
    letter-spacing: -1px;
}
.fs-lyric .scroll-content .item.is-active {
    color: #ffed00;
}
.fs-lyric .is-size-M .scroll-content {
    font-size: 42px;
}
.fs-lyric .scroll-content {
    max-height: 500px;
    overflow: hidden auto;
    text-align: center;
    position: relative;
    -webkit-mask-image: linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8) 10%,#fff 25%,#fff 75%,hsla(0,0%,100%,.8) 90%,hsla(0,0%,100%,0));
}
.fs-nowplaying .fs-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px);
    position: relative;
    top: 0;
    z-index: 1;
}

.player-controls__container {
    height: 90px;
    min-width: 768px;
    padding: 0 20px;
    background-color: var(--player-bg);
    border-top: 1px solid var(--border-player);
    background-image: var(--miniplayer-bg-img);
}
.fs-background, .fs-background .video-blur-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.fs-background {
    overflow: hidden;
    background-color: var(--primary-bg);
}
.fs-background .video-blur-image canvas {
    width: 100%!important;
    height: 100%!important;
}
.level {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fs-nowplaying {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    bottom: 0;
    right: 0;
}
.fs-lyric .columns {
    height: 100%;
    flex-direction: column;
}
.fs-lyric .scroll-content .item.is-over {
    color: hsla(0,0%,100%,.5);
}

.fs-lyric .scroll-content {
    font-size: 42px;
}
.fs-nowplaying .fs-content .fs-body {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: hidden;
}
.is-fullhd-5 {
    width: 41.66667%;
}
.fs-lyric .lyric-song-item {
    width: 500px;
    max-width: 80%;
    margin-right: 50px;
}
.fs-lyric .song-item .cover {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}
.player-control.opac {
    --player-text: #fff;
    background-color: transparent;
    background-image: none;
    border-color:transparent;
    cursor: default;
}
.player-control.opac .player-control-left{
    display: none;
}
.player-control.opac .player-control-right{
    display: none;
}
.is-fullhd-7 {
    width: 58.33333%;
}
.fs-header {
    padding: 20px;
    position: relative;
}
.fs-header .lyric-tab {
    background-color: hsla(0,0%,100%,.1);
    border-radius: 999px;
}
.lyric-tab {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: var(--alpha-bg);
    border-radius: 15px;
    padding: 3px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    position: relative;
}
.fs-header .lyric-tab .tab-item {
    font-size: 16px;
    color: hsla(0,0%,100%,.5);
    padding: 7px 50px;
    font-weight: 700;
}
.lyric-tab .tab-item {
    padding: 5px 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
}
.fs-nowplaying .fs-karaoke {
    position: relative;
    flex: 1 1;
}
.scroll-content .item {
    padding: 20px 0;
    letter-spacing: -1px;
}
.fs-karaoke-content .karaoke-item-name{
    font-size: 52px;
    margin-bottom: 40px;
    font-weight: 700;
}
.fs-media-list .zm-card {
    padding: 15px;
    cursor: pointer;
}
.zm-card {
    max-width: 100%;
}
.fs-media-list .zm-card-content .action {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.fs-media-list .zm-card-content {
    margin-bottom: 10px;
    position: relative;
}
.fs-media-list .zm-card .meta-info {
    visibility: hidden;
    text-align: center;
    height: 100px;
}
.zm-card:hover .meta-info{
    visibility: visible;
}
.zm-card-content:hover .action{
    display: flex;
}
.fs-media-list .zm-card-content .action .zm-btn {
    margin: 14px;
}
.fs-media-list .zm-card.active .zm-card-content .icon {
    display: block;
}
.fs-media-list .zm-card-content .action-btn .icon {
    font-size: 20px;
    padding: 10px;
}
.fs-media-list .zm-card.active .zm-card-content .icon {
    display: block;
}
.fs-media-list .zm-card-content .action .card-list-icon {
    margin: 14px;
}

@keyframes opacity {
    50% {opacity: 0.5;}
    100% {opacity: 1;}
  }
@keyframes zp-bezel-fadeout{
    0%{opacity: 1;}
    25%{opacity: 0.85;transform: scale(1.2);}
    50%{opacity: 0.55;transform: scale(1.4);}
    75%{opacity: 0.35;transform: scale(1.6);}
    100% {opacity: 0;transform: scale(1.5)}
}
.fs-media-list .zm-card-content .action-btn .icon {
    font-size: 20px;
    padding: 10px;
}
.fs-media-list .zm-card-content .action .icon {
    font-size: 75px;
}
.zm-tooltip-btn .icon {
    font-size: 16px;
    padding: 5px;
    border-radius: 50%;
}
.fs-media-list {
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: var(--white);
}
.fs-media-list .list-wrapper {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 12px;
}
.flex-end{
align-items: flex-end;
}
.container-discover-slider{
    position: relative;
    width:100%
}
.fs-karaoke-content .karaoke-item-artist{
    font-size: 36px;
    font-weight: 700;
   
}
.scroll-content .item {
    color: var(--white);
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    line-height: inherit;
    line-height: 1.2;
    padding: 15px 0;
}
.fs-nowplaying .fs-karaoke-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fs-header .lyric-tab .tab-item.is-active {
    background-color: hsla(0,0%,100%,.1);
    border-radius: 999px;
    color: var(--white);
}
@media screen and (max-width: 1000px){
.fs-header .lyric-tab .tab-item {
    padding: 7px 30px;
    font-size: 14px;
}
}
img, video {
    height: auto;
    width: 100%;
}
.fs-lyric {
    height: 100%;
    position: relative;
    margin-bottom: 20px;
}
.zm-video-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}
#video-scroll{
    position: absolute;
    inset: 0px;
    overflow: hidden scroll;
    margin-right: -6px;
    margin-bottom: 0px;
}
.video-wrapper {
    height: 100%;
}
.video-blur-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.video-blur-bg .video-blur-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.video-container {
    position: relative;
    min-height: 100vh;
    padding-top: 85px;
    background-color: rgba(0,0,0,.5);
}
.video-header {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 20px;
}
.video-body {
    position: relative;
    color: #fff;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    width: 95vw;
}
.z--player {
    height: 343px;
    width: 610px;
    user-select: none;
    transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
    font-size: 10px;
    font-family: sans-serif;
    line-height: 1.5;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
    outline: none;
    background-color: #000;
}
.video-body .z--player {
    padding-bottom: 56.25%;
    overflow: hidden;
    width:100%;
    height:0;
    border-radius: 4px;
}

.zm-video-modal .controls {
    padding: 13px 8px;
    left: 1.2em;
    width: calc(100% - 2.4em);
}
.zm-video-modal .z--player .controls .progress-bar {
    bottom: 5em;
}
.z--player .controls .progress-bar {
    position: absolute;
    bottom: 3.2em;
    width: 100%;
    height: 2em;
    cursor: pointer;
}
.z--player .controls .progress-bar .bar {
    -webkit-transition: height 0.2s,transform 0.2s cubic-bezier(0, 0, 0.2, 1),top 0.2s;
    -moz-transition: height 0.2s,transform 0.2s cubic-bezier(0, 0, 0.2, 1),top 0.2s;
    transition: height 0.2s,transform 0.2s cubic-bezier(0, 0, 0.2, 1),top 0.2s;
    height: 0.3em;
    top: 0.9em;
}
.z--player .controls .--z--bar-bg {
    background-color: #666;
}

.z--player .controls .--z--bar-bg {
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}
.z--player .controls .bar {
    -webkit-border-radius: 0.15em;
    -moz-border-radius: .15em;
    border-radius: 0.15em;
    cursor: pointer;
    height: 0.3em;
    position: absolute;
    display: inline-block;
    top: 1.4em;
    left: 0;
}
.z--player .controls .--z--bar-fill-load {
    background-color: #c2c2c2;
}
.controls .--z--bar-fill-recent {
    background-color: #721799;
}
.z--player .controls .bar .bullet {
    transition: all 0.2s,width 0s;
    height: 0;
    width: 0;
    top: 0;
}

.z--player .controls .bullet {
    background-color: #f7f7f7;
    box-shadow: 0 0 1px #f7f7f7;
}
.z--player .ad_runners_ui_ad_mark_container {
    transition: height 0.2s,transform 0.2s cubic-bezier(0, 0, 0.2, 1),top 0.2s;
    position: absolute;
    height: 0.3em !important;
    top: 0.9em;
}
.ad_runners_ui_ad_mark_container {
    display: flex !important;
    width: 100%;
    height: 100%;
}
.z--player .controls .--z--bar-fill-recent .bullet {
    height: 1.4em;
    width: 1.4em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    background-color: #f7f7f7;
    box-shadow: 0 0 1px #f7f7f7;
    position: absolute;
    top: -0.6em;
    right: -0.6em;
}
.z--player .control-left {
    display: flex;
    flex-grow: 1;
}
.zm-video-modal .z--player .control-right {
    margin-right: 0;
}

.z--player .control-right {
    
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.z--player video {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.controls {
    transition: opacity 0.3s ease-out;
    display: box;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 2em;
    width: calc(100% - 2em * 2);
    text-shadow: 0 0 2px #000;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    padding: 0.5em 0;
}
.controls-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 6em;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));
}

