.sideNav{
    background-color: #231b2e;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 240px;
    bottom: 90px;
    transition: ease .5s;
    box-shadow: 0 2px 5px #0000004d;   
}
@media screen and (max-width: 1048px){
.sideNav {
    position: fixed;
    background-color: var(--sidebar-popup-bg);
    width: 70px;
    padding-bottom: 55px;
    transition: width .3s ease-out;
}
.main-container::-webkit-scrollbar{
width:4px
}


.sideNav .navigation-item-title{
    display:none
}
.main-container{
margin-left:70px !important;
}
.sideNav .sibar-add-playlist,.sideNav .sidebar__library-center{
    display:none !important
}
}
.sibar-content{
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}
.side-playlist{
position:fixed;
top:0;
right:0;
width:330px;
z-index: 100;
bottom:90px;
background-color: #120822;
transform: translate(0);
transition: ease-in .5s;
padding-bottom: 90px;
border-left: 1px solid var(--border-primary);
}
.side-playlist.hide{
    transform: translate(100%);
}
.side-playList-group {
    padding:8px 0 16px 8px;
    overflow-y: auto;
    height: 100%;
}
.side-playList-top{
display: flex;
padding:16px 8px;
align-items: center;
}
.change-playlist{
display: flex;
align-items: center;
background-color: #2a2139;
border-radius: 16px;
margin-right: 8px;
flex:1;
font-size: 12px;
height: 32px;
padding-left: 4px;
}
.sibar-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navigation{
    padding-top: 12px;
}
.navigation-item{
    display: flex;
    padding:8px 24px;
    cursor: pointer;
    align-items: center;
}
.navigation-item-icon{
    color:#fff;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 8px;
}
.side-line{
    height:1px;
    margin:16px 24px;
    background: rgba(256,256,256,.5);
}
.navigation-item:hover{
    background-color: #393243;
}
.navigation-item-title{
    color:#fff;
    font-weight: 600;
}
.navigation-item-title span{
background-color: #ff0a0a;
margin-left: 6px;
border-radius: 4px;
font-size: 12px;
padding:1px 4px
}
.sidebar__library{
    overflow-y: auto;
}
.sidebar__library-center{
    height: 110px;
    background-image: linear-gradient(117deg,#5a4be7,#c86dd7);
    margin: 12px 16px;
    padding:4px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    -webkit-border-radius: 8px 
}
.sidebar__library-zingchart{
    background-image: linear-gradient(117deg,#6c0187,#451062);
    padding:24px 16px;
}
.discover-zingchart .zing-chart-heading{
    font-size: 32px;
}
.discover-zingchart .zing-chart-play-icon{
    height: 32px;
    width: 32px; 
}
.sibar-add-playlist{
    border-top :1px solid rgba(256,256,256,.5);
    padding:16px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color:#fff
}
.vip-heading{
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color:#fff
}
.vip-pro{
background-color: #ffdb00;
color:#32323d;
font-size: 12px;
font-weight: 600;
width: 160px;
text-align: center;
padding:6px 8px;
margin-top:8px;
border-radius: 8px;
text-transform: uppercase;
cursor: pointer;
}
.vip-pro-1{
    margin-top:0;
    height:36px;
    margin-left: 8px;
}
.vip-pro:hover{
background-color: #f1d203;
}
.sideNav.tablet .logo {
    background: url(https://sona7ns.github.io/zingmp3.vn/assets/img/sidebar-icon/logo/logo-dark.svg) 50%/contain no-repeat;
    margin-top: 16px;
    margin-left: 24px;
    width: 120px;
    height: 40px;
   
   
}
@media screen and (max-width:1048px){
    .sideNav.tablet .logo {
        width: 45px;
        display:inline-block;
        height: 45px;
        margin-left: 0;
        background-size: contain;
        background-image: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.65/static/media/icon_zing_mp3_60.f6b51045.svg);
           
        }
}
.btn-clock{
    margin-right: 0;
}
.btn.active{
background-color:#6a6475
}
.navigation-item.active{
    background-color:#6a6475
}
.icon-add{
    color:#fff;
    width:16px;
    fill:#fff;
    height: 16px;
    margin-right: 8px;
}
.side-playList-seemore{
background-color: #2a2139;
display: flex;
align-items: center;
justify-content: center;
position: relative;
height: 32px;
margin-right: 4px;

color: #fff;
cursor: pointer;
font-size: 16px;
border-radius: 50%;
width: 32px;
}
.side-playList-seemore:hover{
    background-color: #3c2c57;  
}